* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #ef8802, #f5db49);
  border-radius: 25px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}
